aside {
    display: flex;
    width: 300px;
    float: right;
    margin: 0px;
    background-color: beige;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
}
aside #mycart {
    margin-left: 20px;
}
aside #mycart h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    padding : 10px 0px;
}
aside #mycart p {
    font-size: 1.2em;
    margin: 10px;
    padding : 5px 0px;
}
aside #mycart button {
    width: calc(100% - 20px);
    background-color: rgb(8, 139, 129);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#section-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    height : 100%;
    align-items: center;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}
aside {
    height: 100%;
    @media screen and (max-width: 800px) {
        max-width: 700px;
        width: 100%;
        display: block;
        padding-bottom: 20px;
    }
}
#section-wrapper > section {
    width: calc(100% - 350px);
    @media screen and (max-width: 800px) {
        width: 100%;
        display: block;
    }
}
#option {
    margin : 20px 50px;
    @media screen and (max-width: 800px) {
        margin: 20px 10px;
    }
}
#option fieldset {
    border: 2px solid rgb(8, 139, 129);
    background-color: white;
    padding: 10px;
}
#option legend {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#option ul {
    list-style: none;
    padding: 0px;
}
#option li {
    margin: 18px 0px;
    display: flex;
    flex-direction: row;
}
#option li label {
    flex: 2;
    float: left;
    text-align: right;
    padding: 5px;
    padding-right: 12px;
    font-size: large;
    min-width: 40px;
}
#option li input, #option li select {
    flex: 7;
    font-size: large;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
#option #submitbutton {
    width: 100%;
    align-content: center;
}
#option #submitbutton button {
    width: 100%;
    background-color: rgb(8, 139, 129);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#result {
    margin: 20px 20px;
}
.equipment {
    display: flex;
    border: 2px solid rgb(8, 139, 129);
    margin: 10px 0px;
    padding : 10px;
}
.equipment p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
}
.equipment .desc-wrapper {
    padding: 10px;
    width: 100%;
}
.equipment .desc ul {
    list-style: none;
    padding-left: 5px;
    font-size: 1em;
}
.equipment .desc ul li {
    margin: 5px;
}
.equipment .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.equipment .buttons button {
    background-color: rgb(8, 139, 129);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
.imgdesc {
    padding: 20px 5px;
}
.imgdesc img {
    width: 200px;
    height: auto;
}
#paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#paging button {
    background-color: rgb(8, 139, 129);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
#page {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
}
