

#section-wrapper > section > #links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#section-wrapper > section > #links > ul {
    display: flex;
    list-style: none;
}
#section-wrapper > section > #links > ul > li {
    margin-right: 10px;
}
#section-wrapper > section > #links > ul > li > a > button {
    width : 150px;
    height : 50px;
    padding: 10px;
    margin : 10px;
    background-color: #742424;
    border-radius: 10px;
    font-family: "Nanum Gothic", sans-serif;
    font-size : 0.9em;
}
#section-wrapper > section > #links > ul > li > a > button#home {
    border : 3px solid #671d02;
    font-size: 1.2em;
    background-color: #f0f0f0;
}
#section-wrapper > section > #links > ul > li > a > button#rent {
    border : 3px solid #005a0c;
    font-size: 1.2em;
    background-color: #f0f0f0;
}
#section-wrapper > section > #links > ul > li > a > button#status {
    border : 3px solid #11005e;
    background-color: #f0f0f0;
}

#notice {
    margin: 30px 100px;
    padding: 0px;
    height: auto;
    border-radius: 10px;
    background-color: #bdbdbd;
}
#notice-title {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #16a198;
}
#notice-title > h2 {
    margin: 5px;
    color: white;
    font-size: 1.3em;
}
#notice-content {
    padding: 10px;
    font-size: 1.2em;
}
#notice-content > p {
    margin: 5px;
    overflow:auto;
}